[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=shadowwalker
WorkingDirectory=/home/shadowwalker/public_html/DOMAIN
EnvironmentFile=/home/shadowwalker/public_html/DOMAIN/.env

ExecStart=/home/shadowwalker/public_html/DOMAIN/virtualenv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
